
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
 
  header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
 
  section {
    background-color: bisque;  
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #0a1d41;
    margin-top: 0;
  }
  
  section p {
    line-height: 1.5;
    color: #666;
  }
  .footer-nav-bar {
    margin: 0;
    padding: 10px;
  }
  